doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Template - All pages
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		link(rel='apple-touch-icon' sizes='180x180' href=require('images/favicon/apple-touch-icon.png'))
		link(rel='icon' type='image/png' sizes='32x32' href=require('images/favicon/favicon-32x32.png'))
		link(rel='icon' type='image/png' sizes='16x16' href=require('images/favicon/favicon-16x16.png'))
		link(rel='manifest' href=require('images/favicon/site.webmanifest'))
		link(rel='mask-icon' href=require('images/favicon/safari-pinned-tab.svg') color='#3078c0')
		meta(name='msapplication-TileColor' content='#2b5797')
		meta(name='theme-color' content='#131A2B')

		<!--[if lt IE 9]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
		<![endif]-->

		link(rel="stylesheet" href=require("styles/main.sass"))

		style.
			.allPage {
				padding: 0; }
				.allPage_content {
					display: flex;
					padding: 50px 20px;
					width: 100%;
					min-height: 100vh;
					height: 100%;
					font-size: 1em;
					background-color: #465E69;
					justify-content: center;
					align-items: center;
					overflow-y: auto; }
				.allPage_wrap {
					display: inline-block;
					position: relative;
					padding: 20px;
					max-width: 700px;
					background-color: #2B3A42;
					border-radius: 5px;
					box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
					z-index: 10; }
				.allPage_logo {
					display: block;
					margin: 0 auto;
						margin-bottom: 25px;
					max-width: 170px; }
				.allPage_list {
					color: #f2f2f2;
					list-style-type: none;
					counter-reset: section; }
				.allPage_link {
					display: block;
					position: relative;
					padding: .5em;
					width: 100%;
					font-size: 1em;
					font-weight: 500;
					color: #f2f2f2;
					transition: .35s;
					overflow: hidden; }
					.allPage_link:before {
						counter-increment: section;
						content: counter(section) ".";
						display: inline-block;
						position: relative;
						margin-right: 10px; }
					.allPage_link:after {
						content: '';
						display: block;
						position: absolute;
						left: -101%;
						bottom: 0;
						width: 100%;
						height: 1px;
						background-color: #1d78c1;
						transition: .5s; }
					.allPage_link:hover, .allPage_link:focus {
						color: #1d78c1; }
						.allPage_link:hover:after, .allPage_link:focus:after {
							left: 0; }
					.allPage_link span {
						margin-left: 5px; }
					.allPage_link-note {
						color: #9899A2; }

			@supports selector(*:focus-visible) {
				.allPage_link:focus {
					color: #f2f2f2; }
					.allPage_link:focus:after {
						left: -101%; }
				.allPage_link:hover, .allPage_link:focus-visible {
					color: #1d78c1; }
					.allPage_link:hover:after, .allPage_link:focus-visible:after {
						left: 0; } }

	body
		.wrapper
			.allPage.content
				.allPage_content
					section.allPage_wrap
						img(src=require('images/general/logo.svg') alt="Logo").allPage_logo
						ul.allPage_list
							li
								a(href="main-page.html" target="_blank" rel="noopener noreferrer").allPage_link
									| Main Page
									span (main-page.html)
